@import "nib"
@import "fonts.styl"
@import "normalize.styl"

vendor-prefixes = webkit o ms moz official

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
gris_mas_claro = #F0F0F0

html
	background red